.btn {
    border: 1px solid #de0134;
    padding: 5px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: #de0134;
}

.btn:hover {
    background: #de0134;
    color: #fff;
    
}

.primary-btn {
    background: #4f8d2f;
    color: #fff;
    border-color: #4f8d2f;
}
.primary-btn:hover {
    background: #FFF;
    color: #4f8d2f;
}

.secondary-btn {
    background: #5ac5d1;
    color: white;
    border-color: #5ac5d1;
}
.secondary-btn:hover {
    background: #FFF;
    color: #5ac5d1;
}
h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    font-weight: 400;
}
h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
    font-weight: 400;
    color: #575856;
}
h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
}
h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
}
h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #5e5f5d;

}